@charset "UTF-8";
body {
    background-color: #84CDFA;
    font: normal 16px Arial;
}


h1 {
    color:#325063;
}

h1#principal {
    background-color: #287AAD;
    color: white;
    text-align: center;
}

h2 {
    color: #164461;
}

.basico {
    color: #3c805e;
}

.intermediario {
    color: #43803c;
}

.avancado {
    color: #3c805e;
}

.destaque {
    background-color: #38b3ff89;
}